In [54]:
#check maritime data


import pandas as pd
import datetime

In [3]:
#import data 


port_calls_1 = pd.read_csv('daily_port_calls.csv')

In [45]:
#filter data 

port_calls_suva = port_calls_1[port_calls_1['port-name'] == 'Suva Harbor']
port_calls_lautoka = port_calls_1[port_calls_1['port-name'] == 'Lautoka Harbor']

In [19]:
port_calls_suva.head()

,port-name,country,date-entry,vessel_type_UN,port_calls,GID_0,week,year,lat,lon
2141,Suva Harbor,NaN,8/21/2020,Tanker,0,FJI,0,0,-18.138066,178.414858
2142,Suva Harbor,NaN,8/22/2020,Container,1,FJI,0,0,-18.138066,178.414858
2143,Suva Harbor,NaN,8/22/2020,General cargo,1,FJI,0,0,-18.138066,178.414858
2144,Suva Harbor,NaN,8/22/2020,Tanker,0,FJI,0,0,-18.138066,178.414858
4225,Suva Harbor,Fiji,8/20/2020,Tanker,1,FJI,34,2020,-18.138066,178.414858

In [37]:
#group by checks 

suva_agg_1 = port_calls_suva[['year', 'week','country','port_calls']].groupby(['year','week', 'country']).sum()
suva_agg_1 = suva_agg_1.reset_index()

lautoka_agg_1 = port_calls_lautoka[['year', 'week','country','port_calls']].groupby(['year','week', 'country']).sum()
lautoka_agg_1 = lautoka_agg_1.reset_index()

In [28]:
#average port calls per week

suva_agg_1['port_calls'].mean()

6.337837837837838

In [38]:
lautoka_agg_1['port_calls'].mean()

6.328767123287672

In [29]:
#average port calls per week

suva_agg_1['port_calls'].sum()

469

In [39]:
lautoka_agg_1['port_calls'].sum()

462

In [30]:
# type of vessels 

port_calls_suva[['year', 'week','country', 'vessel_type_UN','port_calls']].groupby(['year','week', 'country', 'vessel_type_UN']).sum()

                                  port_calls
year week country vessel_type_UN
2019 1    Fiji    General cargo            2
                  Tanker                   1
     14   Fiji    Container                3
                  General cargo            2
                  Tanker                   1
...                                      ...
2020 32   Fiji    Tanker                   4
     33   Fiji    Container                2
                  General cargo            3
     34   Fiji    General cargo            1
                  Tanker                   1

[223 rows x 1 columns]

In [36]:
port_calls_suva['vessel_type_UN'].groupby(port_calls_suva['vessel_type_UN']).count()

vessel_type_UN
Container        170
Dry bulk           3
General cargo    141
Tanker            95
Vehicles          24
Name: vessel_type_UN, dtype: int64

In [41]:
port_calls_lautoka['vessel_type_UN'].groupby(port_calls_lautoka['vessel_type_UN']).count()

vessel_type_UN
Container        166
Dry bulk           9
General cargo     73
Tanker           171
Name: vessel_type_UN, dtype: int64

In [ ]:
#### wrangle 


# filter our // IMF 
# aggregate per month

In [46]:
#filtering out tanker 

port_calls_lautoka = port_calls_lautoka[port_calls_lautoka['vessel_type_UN'] != 'Tanker' ] 
port_calls_suva = port_calls_suva[port_calls_suva['vessel_type_UN'] != 'Tanker']

In [ ]:
#Rule 2. Ships Arrived, but not Departed
#Rule 3. Stay in Harbor Outside Range (5h-60h)

In [47]:
# Cargo number indicator. The cargo number indicator counts the number of incoming ships.
# Cargo load indicator

In [49]:


#merge two main ports of Fiji 
port_calls_fiji = port_calls_suva.append(port_calls_lautoka)

In [76]:
#merge year and week 

port_calls_fiji['year_week'] = port_calls_fiji['year'].astype(str) + port_calls_fiji['week'].astype(str)

In [70]:
port_calls_fiji['year_week'].head()

2142        0-0
2143        0-0
5529    2020-34
9503    2020-33
9504    2020-33
Name: year_week, dtype: object

In [79]:
#aggregate weeks into months 


pd.to_datetime((port_calls_fiji['year_week']-1).astype(str) + "6", format ='%Y%U')

TypeError: unsupported operand type(s) for -: 'str' and 'int'